.coupon .code {
    font-weight: 500;
    letter-spacing: 1px;
}

.coupon .discount {
    text-align: center;
}

.coupon .createdAt,
.coupon .availableUntil {
    font-size: 17px;
}

.coupon .createdAt span,
.coupon .availableUntil span {
    font-size: 13px;
    margin-right: -10px;
}