* {
  margin: 0;
  padding: 0;
  background-color: #060607;
  color: #0B2135;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 120px;
  background-color: #060607;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
