.ingredient-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 395px;
    padding: 0.1em 0.2em;
}

.ingredient-card > p {
    color: #afb9c5;
}

.ingredient-card:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #D94038;
}

.ingredient-card .price {
    margin-left: auto;
    padding-right: 1.7em;
    color: #afb9c5;
}

.ingredient-card .protein {
    padding-right: 2.6em;
}

.ingredient-card .delete-btn {
    border: none;
}

.ingredient-card .delete-btn:hover {
    cursor: pointer;
}

.ingredient-card .delete-btn * {
    stroke: red;
}