.coupon-generator-form {
}

.coupon-generator-form > div {
    padding-bottom: 0.5em;
}

.coupon-generator-form input {
    display: block;
    width: 300px;
    height: 25px;
    padding: 0.2em 0.4em;
    font-size: 15px;
    border: 1px solid #a8a4a4;
}

.coupon-generator-form input:focus {
    outline: none;
}

.coupon-generator-form > div  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.coupon-generator-form  button {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
}