.resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.right-side > h5 {
    padding: 1em 0;
    font-size: 15px;
}

.right-side > h5 > a {
    text-transform: uppercase;
    text-decoration-color: #D94038;
    text-underline-position: under;

}

.right-side > h5 > a:hover {
    text-shadow: 0px 0px 1px black;
}

.resume-form {
    width: 200px;
    margin: 15px 20px 15px 20px;
    padding: 1em 1.8em;
    border: 1px solid #a8a4a4;
}

.resume-input input[type="text"],
.resume-input input[type="number"] {
    height: 30px;
    padding: 0.2em 0.4em;
    margin-bottom: 10px;
    border: 1px solid #a8a4a4;
}

.resume-input input[type="text"]:focus,
.resume-input input[type="number"]:focus {
    outline: none;
}

.resume-input  button {
    padding: 0.5em 1.2em;
    border: 1px solid #a8a4a4;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #D94038;
    font-size: 15px;
}

.resume-input button:hover {
    cursor: pointer;
    text-shadow: 0px 0px 1px black;
}